@charset "UTF-8";
/*inutil por enquanto */

:root{
    --cond: block;
}
header img#logo{
    width: 78px;
    margin-left: 3%;
}
header img#compra{
    width: 40px;
    left: 93%;

}
header input{
    width: 100%;
    height: 45px;
}
input:focus{
    width: 74vw;
    left:62vw; /* ajustar em casa mas está relativamente bom */
}
header > form > div > input{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50vw;
}
img#menu{
    display: block;
    position: absolute;

    left: 82%;
    top: 50%;

    transform: translate(-50%,-50%);
    width: 35px;
}
img#menu_desktop{
    display: none;
}
