@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=PT+Sans&display=swap');

body{
    background-color: var(--cor2);
}
div#titulo{
    display: block;
    font-size: 19px;
    font-weight: bold;
    padding: 2px;
    color: var(--letra);
    margin-left: 15px;
}
ul.lista_produtos{
    margin-left: 10px;
}
ul.lista_produtos > li{
    display: inline-block;
    width: 190px;
    background-color: var(--cor3);
    text-align: center;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    color: var(--letra);
}
li > img{
    margin-top: 4px;
    border-radius: 10px;
}
p.produto{
    margin-top: 4px;
    font-family: 'Barlow';
    font-size: 17px;
}
p.valor{
    margin-top: 6px;
    font-size: 1.2em;
    font-family: 'Barlow';
    font-weight: bold;
}
a.comprar{
    background-color: var(--cor4);
    text-decoration: none;
    color: white;
    display: inline-block;
    width: 140px;
    padding: 6px 0px;
    margin-top: 10px;
    border-radius: 10px;
}