@charset "UTF-8";

@font-face {
    font-family: "Bakbak One";
    src: url(../fonte/BakbakOne-Regular.ttf);
}
:root{
    --cor1: #45214A;
    --cor2: #323050;
    --cor3: #21445B;
    --cor4: #1A6566; 
    --cor5: #5d8a66; 
}
*{
    padding: 0;
    margin: 0;
}
header{
    position: relative;
}
header > h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.6em;
    color: white;

}
header > img, header > h1{
    display: inline;
}
body{
    background-color: var(--cor1);
}
main{
    position: relative;
}
label{
    display: block;
}
section#descricao{
    display: none;
}
#descricao{
    text-align: center;
}
#descricao > p{
    text-align: justify;
}
#descricao > h1{
    font-size: 2em;
    font-weight: bold;
    font-variant: small-caps;
    color:white;
}
section#form{
    font-family: "Bakbak One";
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,0);
    background-color: var(--cor3);
    padding: 13px;
    border-radius: 10px;
    color: #a2c2eb;
}
legend{
    font-size: 1.2em;
    text-align: center;
}
input{
    margin: auto;
    padding: 7px 1vw;
    border-radius: 14px;
    border-style: none;
    width: 50vw;

    box-shadow: -4px 5px 1px var(--cor2);
}
div{
    padding-top: 0.4em;
}
#cidade-estado > input{
    display: inline;
}
#iestado{
    width: 12vw;
    margin-right: 1vw;
}
#icidade{
    width: 35vw;
}
.label_cidade_estado{
    display: inline;
}
label[for="icidade"]{
    position: absolute;
    left:34%;
}
#cadastrar{
    margin-top: 0.6em;
    width: 30vw;
    height: 6vh;
    cursor: pointer;
    font-weight: bold;
    font-family: arial;
}
#botao{
    text-align: center;
}
input[type="submit"]{
    background-color: #7aa5dcc3;
    margin-bottom: .8em;
    font-size: 1em;
    font-weight: bolder;
}
#link{
    font-size: 1em;
    display: block;
    height: 4vh;
    width: 30vw;
    background-color: #7aa5dcc3;
    border-radius: 14px;
    text-align: center;
    margin: auto;
    padding: 7px 0px;
    border-style: none;
    box-shadow: -4px 5px 1px var(--cor2);
    text-decoration: none;
    color: black;
}
